<h1>Hello <%= @user.name %></h1>
<h2>Trainer Info:</h2>

<p>
  <strong>Trainer Name:</strong> <%=@user.username%></br>
  <strong>Name:</strong> <%=@user.name%></br>
  <strong>About:</strong></br> <%=@user.about%></br>
</p>